
body {
  margin: 0;
  padding: 0;
  font-family: 'BioRhyme', serif;
}
.add-new {
  clear: both;
  display: block;
}

.full-width {
  width: 100%;
  clear: both;
}

.space-top {
  padding-top: 2%;
}

.list {
  position: absolute;
  max-width: 100%;
  font-weight: 700;
  /*word-wrap: break-word;*/
  padding-top: 10%;
  padding-left: 5%;
  text-align: center;
}

.menu-square, .recipe-square {
  width: 30%;
  padding-bottom: 30%;
  border-width: 1px;
  background-color: white;
  display: inline-block;
  float: left;
  margin: 1%;
  box-shadow: 10px 10px 5px grey;
}
.center ul li, .center ul {
  list-style: none;
  padding: 0;
  margin: 0;
  letter-spacing: 3px;
}

.body-background {
  background-color: #efece3;
}

a {
  color: rgb(80, 107, 78);
}

a:hover {
  color: rgb(159, 206, 154);
}

.btn {
  background-color: rgb(80, 107, 78);
  border-color: rgb(80, 107, 78);
  color: white;
}

.btn:hover {
  background-color: rgb(223, 236, 222);
  color: black;
  border-color: rgb(159, 206, 154);
}

.left-padding {
  padding-left:2%;

}

.left-recipe-padding {
  padding-left:4%;

}
.uppercase {
  text-transform: uppercase;
  letter-spacing: 3px;
}
.text-center {
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 10%;
  padding-bottom: 20%;
  border-width: 1px;
  height: 70%;
  background-color: white;
  box-shadow: 10px 10px 5px grey;
}

.selected-recipes {
  width: 25%;
  background-color: rgb(220, 233, 219);
  height: 500px;
  display: block;
  position: absolute;
  right: 80px;
  top: 80px;
}

.all-recipes {
  width: 25%;
  background-color: rgb(220, 233, 219);
  height: 500px;
  display: block;
  position: absolute;
  right: 450px;
  top: 80px;
}

.dk-green{
  background-color: rgb(80, 107, 78);
  color: white;
}

.drag-me {
  width: 150px;
  color: rgb(84, 143, 82);
  border: 2px dashed rgb(84, 143, 82);
  /*text-align: center;*/
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
li.placeholder:before {
  content: "Drop here";
  color: white;
}

.ingredients-list {
  padding: 0;
  list-style-type: none;

}
.ingredients-list ul li {
  list-style-type: none;

}

.ingredients-list:hover {
  color: white;

}

.appName {
  font-family: 'BioRhyme', serif;
}
.featuredChef {
  border-radius: 20%;
  width: 20%;
  height: 20%;
  box-shadow: 10px 10px 5px grey;
}
.fallRecipeImage {
  /*max-width: 100%;
  max-height: 100%;*/
  /*padding-left: 25%;*/
  box-shadow: 10px 10px 5px grey;
}
.halloweenContest {
  max-width:80%;
  max-height: 20%;
}
.center-btn {
  margin-left: 15%;
}
