body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.add-new {
  clear: both;
  display: block;
}

.full-width {
  width: 100%;
  clear: both;
}

.space-top {
  padding-top: 2%;
}

.list {
  position: absolute;
  font-weight: 700;
  padding-top: 10%;
  padding-left: 5%;
  text-align: center;
}

.menu-square, .recipe-square {
  width: 30%;
  padding-bottom: 30%;
  border-width: 1px;
  background-color: rgb(223, 236, 222);
  display: inline-block;
  float: left;
  margin: 1%;
}
.center ul li, .center ul {
  list-style: none;
  padding: 0;
  margin: 0;
  letter-spacing: 3px;
}

.body-background {
  background-color: rgb(159, 206, 154);
}

a {
  color: rgb(80, 107, 78);
}

a:hover {
  color: rgb(159, 206, 154);
}

.btn {
  background-color: rgb(80, 107, 78);
  border-color: rgb(80, 107, 78);

}

.btn:hover {
  background-color: rgb(223, 236, 222);
  color: black;
  border-color: rgb(159, 206, 154);
}

.left-padding {
  padding-left:2%;

}
.uppercase {
  text-transform: uppercase;
  letter-spacing: 3px;
}
.text-center {
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 10%;
  padding-bottom: 20%;
  border-width: 1px;
  height: 70%;
  background-color: rgb(223, 236, 222);
}
